@use "../abstracts" as *;

.navigation {
  background-color: #f1f1ef;
  .nav {
    --flex-column-gap: #{$navigation-gap};
    list-style: none;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    li {
      background-color: #ffff;
      padding: $size-1 $size-4;
      border-radius: 50px;
    }
    a {
      display: inline-block;
      cursor: pointer;
      color: $navigation-color;
      text-decoration: $navigation-link-text-decoration;

      &:is(:hover, :focus) {
        color: $navigation-color-hover;
      }
    }
  }
}
