@use "../abstracts" as *;
.hero {
  border-radius: 50px 50px 0 0;
  justify-content: center;

  background-color: black;

  span {
    display: block;
  }
  &__img {
    border-radius: 50%;
    max-width: 40%;
  }

  &__text {
    h1 {
      background: linear-gradient(
        90deg,
        $color-neutral-200,
        $color-neutral-700
      ); /* Your gradient */
      -webkit-background-clip: text; /* Clips background to the text */
      -webkit-text-fill-color: transparent; /* Makes the text transparent */
      background-clip: text; /* Standard property for text clipping */
      text-fill-color: transparent; /* Fallback for non-webkit browsers */
    }
  }

  svg {
    padding: none;
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}
