@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }
}
.navigation {
  // background-color: #f1f1ef;
  .nav {
    list-style: none;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;

    a {
      display: inline-block;
      cursor: pointer;

      text-decoration: $navigation-link-text-decoration;
      transition: all 0.3s ease;
    }
  }
  .nav-link-group1 a {
    color: $color-neutral-000;
    background-color: $color-neutral-800;
    padding: $size-1 $size-4;
    border-radius: 50px;

    &:is(:hover, :focus) {
      color: $color-neutral-1000;
      background-color: $color-neutral-000;
    }
  }

  .nav-link-group2 a {
    background-color: none;
    &:is(:hover, :focus) {
      background-color: none;
      scale: 1.2;
    }
  }
  // .nav-link-group2 li:not(:last-child)::after {
  //   content: " /"; /* Add a backslash after each item except the last one */
  //   margin-left: 5px; /* Optional: adds space before the backslash */
  // }
}
